// Blocks SCSS

.banner-section {
    background-size: cover;
    border-bottom: 1px solid $neutral-100;
    & .block {
        padding: 116px 0 25px;
        display: flex;
        justify-content: space-between;
        gap: 47px;
        @include laptop {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }
        @include tablet {
            padding: 90px 0 25px;
        }
        & .content {
            display: flex;
            flex-direction: column;
            gap: 18px;
            max-width: 714px;
            width: 100%;
            flex-shrink: 0;
            @include desktop {
                max-width: 622px;
            }
            @include laptop {
                max-width: 100%;
                text-align: center;
            }
            @include tablet {
                padding: 0;
                gap: 14px;
            }
            & h1 {
                @include laptop {
                    max-width: 700px;
                    margin: 0 auto;
                }
                @include tablet {
                    max-width: 320px;
                    margin: 0 auto;
                }
                & img {
                    @include tablet {
                        width: 35px;
                    }
                }
            }
            & .collapse-block {
                background-color: rgba($primary, $alpha: 8%);
                backdrop-filter: blur(2px);
                border-radius: 10px;
                overflow: hidden;
                max-width: 690px;
                text-align: left;
                @include laptop {
                    max-width: 100%;
                }
                @include tablet {
                    margin-top: 20px;
                }
                & .collapse-header {
                    background-color: rgba($primary, $alpha: 8%);
                    backdrop-filter: blur(2px);
                    padding: 17px 30px 20px 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @include tablet {
                        padding: 20px 16px;
                    }
                    & h4 {
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 140%;
                        @include laptop {
                            font-size: 24px;
                        }
                        @include tablet {
                            font-size: 20px;
                        }
                    }
                    & p {
                        font-size: 22px;
                        line-height: 27px;
                        font-weight: 500;
                        color: $neutral-500;
                        @include laptop {
                            font-size: 20px;
                        }
                        @include tablet {
                            font-size: 18px;
                        }
                    }
                }
                & .collapse-item {
                    padding: 0 25px;
                    @include tablet {
                        padding: 0 16px;
                    }
                    &:first-child {
                        & button {
                            border-top: none;
                        }
                    }
                    & button {
                        background-color: transparent;
                        border: none;
                        padding: 23px 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        font-family: $font-Barlow;
                        border-top: 1px solid $white;
                        text-align: left;
                        @include tablet {
                            padding: 20px 0;                            
                        }
                        & h3 {
                            font-size: 28px;
                            font-weight: 600;
                            color: $neutral-900;
                            @include desktop {
                                font-size: 25px;
                            }
                            @include laptop {
                                font-size: 20px;
                            }
                            @include tablet {
                                font-size: 18px;
                            }
                        }
                    }
                }
                & .collapse {
                    & .collapse-content {
                        border-top: 1px solid $white;
                        padding: 16px 5px;
                        & .checkbox-listing {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                        }
                    }
                }

            }
            & .button {
                padding: 5px 30px 28px;
                justify-content: flex-end;
                display: flex;
            }
        }
        & .image {
            flex-shrink: 0;
            position: relative;
            z-index: 0;
            width: 763px;
            margin-top: auto;
            margin-bottom: -25px;
            left: -86px;
            will-change: transform;
            @include tv {
                transform: scale(0.9);
                transform-origin: bottom;
            }
            @include desktop {
                margin-right: -340px;
                position: relative;
                left: -20%;
                transform: scale(0.80);
                transform-origin: bottom;
            }
            @include laptop {
                margin-right: auto;
                margin-left: 0;
                margin-top: -100px;
                left: 50%;
                display: none;
                transform: translateX(-50%) scale(0.8);
                transform-origin: bottom;
            }
            @include tablet {
                transform: translateX(-50%) scale(0.5);
                margin-top: -400px;
            }
             
            & .ring {
                top: -16px;
                right: 48px;
                position: absolute;
                width: 480px;
                height: 480px;
                z-index: -10;
            }
            & .item-1 {
                top: 671px;
                left: 224px;
                position: absolute;
                box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                
            }
            & .item-2 {
                top: 130px;
                left: 218px;
                position: absolute;
                z-index: -10;
            }
            & .item-3 {
                top: 78px;
                right: 50px;
                position: absolute;
                z-index: -10;
            }
            & .item-4 {
                top: 476px;
                right: 65px;
                position: absolute;
                box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
            }

        }
    }
}

.why-section {
    padding: 60px 0 136px;
    @include laptop {
        padding: 60px 0px;
    }
    @include tablet {
        padding: 50px 0px;
    }
    .block {
        display: flex;
        align-items: flex-end;
        gap: 106px;
        position: relative;
        justify-content: space-between;
        @include laptop {
            flex-direction: column;
            align-items: stretch;
            gap: 80px;
        }
        @include tablet {
            gap: 50px;
        }
        & .target-icon {
            position: absolute;
            right: 40px;
            top: 15px;
            z-index: -10;
            @include laptop {
                right: -20px;
                top: -35px;
            }
            @include tablet {
                width: 120px;
            }
        }
        & .left {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            max-width: 571px;
            @include desktop {
                max-width: 471px;
            }
            @include laptop {
                max-width: 100%;
            }
            & h2 {
                margin-bottom: 28px;
                @include tablet {
                    margin-bottom: 16px;
                }
            }
            & h4 {
                margin-bottom: 50px;
                @include tablet {
                    margin-bottom: 20px;
                }
            }
            & .image {
                position: relative;
                @include tablet {
                    width: 90%;
                    max-width: 350px;
                }
                & img {
                    top: 23px;
                    left: 23px;
                    position: relative;
                    width: 100%;
                }
                &::before {
                    position: absolute;
                    width: 97%;
                    height: 86%;
                    left: 0;
                    top: 0;
                    background: $primary;
                    border-radius: 141px 50px 141px 30px;
                    content: '';
                    @include tablet {
                        border-radius: 91px 30px 101px 30px;
                    }
                }

            }
        }
        & .right {
            & p {
                font-weight: 500;
                color: $neutral-500;
                margin-bottom: 26px;
                max-width: 571px;
                @include laptop {
                    max-width: 100%;
                }
            }
            & ul {
                font-weight: 500;
                color: $neutral-500;
                gap: 22px;
                display: flex;
                flex-direction: column;
                & li {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }
            & .targets {
                width: 782px;
                padding: 23px 36px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 0 10px 0 10px;
                background-color: $primary;
                margin-top: 36px;
                margin-left: -110px;
                z-index: 10;
                margin-bottom: -58px;
                position: relative;
                overflow: hidden;
                @include desktop {
                    margin-left: -220px;
                }
                @include laptop {
                    margin-left: 0;
                    margin-bottom: 0;
                    width: 100%;
                }
                @include tablet {
                    padding: 20px;
                }
                & .item-circle {
                    position: absolute;
                    right: -96px;
                    bottom: -58px;
                    background-color: rgba($white, 15%);
                    width: 172px;
                    height: 172px;
                    border-radius: 50%;
                }
                & .target-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 12px;
                    font-size: 26px;
                    font-weight: bold;
                    color: $white;
                    flex: 1;
                    @include desktop {
                        font-size: 22px;
                    }
                    @include tablet {
                        font-size: 20px;
                    }
                    & .icon {
                        background-color: $neutral-200;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 96px;
                        height: 96px;
                        @include tablet {
                            width: 66px;
                            height: 66px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

.services-section {
    position: relative;
    background-color: $neutral-200;
    padding: 60px 0;
    overflow: hidden;
    z-index: 0;
    @include tablet {
        padding: 50px 0;
    }
    & .item-1 {
        position: absolute;
        left: -100px;
        top: -100px;
        z-index: -10;
        @include tablet {
            width: 150px;
            height: 150px;
            left: -85px;
            top: -85px;
        }
    }
    & .item-2 {
        position: absolute;
        right: -100px;
        bottom: -100px;
        z-index: -10;
        @include tablet {
            width: 150px;
            height: 150px;
            right: -85px;
            bottom: -85px;
        }
    }
    & .block {
        display: flex;
        flex-direction: column;
        gap: 66px;
        position: relative;
        z-index: 0;
        @include tablet {
            gap: 40px;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                gap: 16px;
            }
        }
        & .listing {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            @include tablet {
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
            @include mobile {
                grid-template-columns: 1fr;
            }
            & .item {
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 26px 0 17px;
                background-color: $white;
                text-align: center;
                align-items: center;
                transition: $link-transition;
                &:hover {
                    box-shadow: 0 14px 48px rgba(0,0,0,.1);
                }
                & .text {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    align-items: center;
                    max-width: 340px;
                    margin-top: 40px;
                    @include tablet {
                        gap: 10px;
                        max-width: 310px;
                        margin-top: 20px;
                    }
                }
                & .illustration {
                    width: 157px;
                    height: 157px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    flex-shrink: 0;
                    @include tablet {
                        width: 100px;
                        height: 100px;
                    }
                }
                & .link {
                    display: flex;
                    align-items: center;
                    height: 51px;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 30px;
                    position: relative;
                    z-index: 0;
                    

                    & a {
                        margin-right: 30px;
                        color: $secondary;
                        height: 100%;
                        &::after {
                            position: absolute;
                            left: 0;
                            height: 100%;
                            width: 3px;
                            background-color: $secondary;
                            content: '';
                            z-index: -10;
                            transition: $link-transition;
                        }
                        &:hover {
                            color: $primary;
                            &::after {
                                width: 6px;
                                background-color: $primary;
                            }
                        }
                    }
                    // &:hover {
                    //     &::after {
                    //         width: 100%;
                    //     }
                    //     & a {
                    //        color: $white;
                    //     }
                    // }
                }
            }
        }

    }

}

.benefit-section {
    position: relative;
    padding: 60px 0;
    overflow: hidden;
    @include tablet {
        padding: 50px 0;
    }
    & .block {
        display: flex;
        flex-direction: column;
        gap: 66px;
        position: relative;
        z-index: 0;
        @include tablet {
            gap: 40px;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                gap: 16px;
            }
        }
        & .tabs-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include tablet {
                flex-direction: column;
                gap: 40px;
            }
            & .image {
                flex-shrink: 0;
                background-size: cover;
            }
            & .tabs {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 553px;
                gap: 16px;
                @include laptop {
                    max-width: 480px;
                }
                @include tablet {
                    max-width: 100%;
                   
                }
                & .tab-item {
                    display: flex;
                    align-items: center;
                    background-color: $white;
                    border-radius: 10px;
                    padding: 30px 36px;
                    gap: 34px;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                    @include tablet {
                        padding: 20px;
                    }
                    &::after {
                        position: absolute;
                        width: 4px;
                        height: 100%;
                        background-color: transparent;
                        content: '';
                        right: 0;
                        top: 0;
                    }
                    &.active {
                        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
                        &::after {
                            background-color: $secondary;
                        }
                    }
                    & .illustration {
                        width: 82px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        @include tablet {
                            width: 60px;
                        }
                    }
                    & .text {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        max-width: 324px;
                        & h5 {
                            font-size: 24px;
                            line-height: 133%;
                            font-weight: bold;
                            @include tablet {
                                font-size: 18px;
                            }
                        }
                        & p {
                            color: $neutral-500;
                            font-size: 19px;
                            @include tablet {
                                font-size: 16px;
                            }
                        }

                    }
                }
            }
        }
    }
}

.price-section {
    position: relative;
    padding: 60px 0 113px;
    overflow: hidden;
    background-color: #F5F5F5;
    z-index: 0;
    @include tablet {
        padding: 50px 0 80px;
    }
    & .bg-item-01 {
        position: absolute;
        z-index: -10;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 1497;
        height: 744px;
    }
    & .bg-item-02 {
        position: absolute;
        z-index: -10;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 130px;
    }
    & .bg-item-03 {
        position: absolute;
        z-index: -10;
        top: 127px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left: 153px;
    }
    & .bg-item-04 {
        position: absolute;
        z-index: -10;
        bottom: 73px;
        right: -118px;
    }
    & .block {
        display: flex;
        flex-direction: column;
        gap: 66px;
        position: relative;
        z-index: 0;
        @include tablet {
            gap: 40px;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                gap: 16px;
            }
            & h3 {
                @include tablet {
                    max-width: 300px;
                    margin: 0 auto;
                }
            }
        }
        & .listing {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 33px;
            @include laptop {
                gap: 20px;
            }
            @include tablet {
                grid-template-columns: 1fr;
                gap: 70px;
            }
            & .price-item {
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                background-color: $white;
                padding: 45px 33px 13px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @include laptop {
                    padding: 45px 20px 13px;
                }
                @include tablet {
                    padding: 25px 16px 10px;
                }
                & .illustration {
                    height: 111px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 13px;
                }
                & h5 {
                    margin-top: 6px;
                    font-size: 27px;
                    text-transform: uppercase;
                    font-weight: 800;
                    @include tablet {
                        font-size: 22px;
                    }
                }
                & .bottom {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    width: 100%;
                    border-top: 1px solid $neutral-400;
                    padding: 25px 12px 19px;
                    margin-top: 25px;
                    @include tablet {
                        padding: 25px 12px 0;
                        margin-top: 16px;
                    }
                    & h6 {
                        font-size: 36px;
                        text-align: center;
                        font-weight: 700;
                        color: $secondary;
                        @include tablet {
                            font-size: 30px;
                        }
                    }
                    & ul {
                        margin-top: 35px;
                        font-size: 19px;
                        font-weight: 500;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        width: 100%;
                        @include tablet {
                            font-size: 16px;
                        }
                        & li {
                            display: flex;
                            align-items: center;
                            gap: 25px;
                            @include tablet {
                                gap: 20px;
                            }
                            & svg {
                                color: $neutral-900;
                            }
                            & span {
                                color: $neutral-500;
                            }
                        }
                    }
                    & .button {
                        position: relative;
                        top: 60px;
                        @include tablet {
                            top: 37px;
                        }
                    }
                }
                &.highlighted {
                    background-color: $black;
                    & h5 {
                        color: $white;
                    }
                    & .bottom {
                        & ul {
                            & li {
                                & svg {
                                    color: $white;
                                }
                                & span {
                                    color: $white;
                                }
                            }
                        }

                    }
                }
            }

        }
    }
}

.study-section {
    position: relative;
    padding: 60px 0 113px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    @include tablet {
        padding: 50px 0;
    }
    & .block {
        display: flex;
        flex-direction: column;
        gap: 66px;
        position: relative;
        z-index: 0;
        @include tablet {
            gap: 40px;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                gap: 16px;
            }
        }
        & .content {
            display: flex;
            flex-direction: column;
            gap: 118px;
            max-width: 1316px;
            margin: 0 auto;
            padding: 0 50px;
            position: relative;
            z-index: 0;
            @include tablet {
                gap: 40px;
                padding: 0;
            }
            & .line {
                position: absolute;
                z-index: -10;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                @include tablet {
                    display: none;
                }
            }
            & .row {
                display: flex;
                align-items: center;
                gap: 80px;
                @include tablet {
                    flex-direction: column;
                    gap: 40px;
                }
                &:nth-child(2n) {
                    flex-direction: row-reverse;
                    @include tablet {
                        flex-direction: column;
                    }
                }
                & .image {
                    flex-shrink: 0;
                    @include laptop {
                        width: 400px;
                    }
                    @include tablet {
                        width: 100%;
                        max-width: 350px;
                    }
                }
                & .text {
                    display: flex;
                    flex-direction: column;
                    & h4 {
                        font-size: 40px;
                        font-weight: 700;
                        margin-bottom: 14px;
                        @include laptop {
                            font-size: 32px;
                        }
                        @include tablet {
                            font-size: 28px
                        }
                    }
                    & p {
                        font-weight: 500;
                        margin-bottom: 22px;
                        color: $neutral-500;
                    }
                    & .link {
                        display: flex;
                        margin-bottom: 30px;
                        & a {
                            color: $secondary;
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                    & ul {
                        display: flex;
                        align-items: center;
                        gap: 34px;
                        & li {
                            display: flex;
                            flex-direction: column;
                            padding-right: 34px;
                            &:not(:last-child) {
                                border-right: 1px solid $neutral-300;
                            }
                            & h5 {
                                font-size: 31px;
                                font-weight: 700;
                                color: $secondary;
                                @include laptop {
                                    font-size: 28px;
                                }
                            }
                            & h6 {
                                font-size: 27px;
                                color: $neutral-700;
                                font-weight: 500;
                                @include laptop {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .button {
            display: flex;
            justify-content: center;
        }
    }
}

.client-section {
    padding: 60px 0 80px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: rgba($primary, $alpha: 10%);
    @include tablet {
        padding: 50px 0;
    }
    & .bg-item {
        position: absolute;
        width: 1688px;
        height: 829px;
        left: 50%;
        transform: translateX(-50%);
        top: 88px;
    }
    & .swiper-buttons {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        gap: 28px;
    }
    & .block {
        display: flex;
        flex-direction: column;
        gap: 77px;
        position: relative;
        @include tablet {
            gap: 40px;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            max-width: 765px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                padding: 0;
                gap: 16px;
            }
        }
        & .swiper {
            width: 100%;
            padding: 0 0 100px;
            & .item {
                display: flex;
                flex-direction: column;
                padding: 36px;
                border-radius: 10px;
                background-color: $white;
                align-items: flex-start;
                @include tablet {
                    padding: 20px;
                }
                & p {
                    font-size: 22px;
                    font-weight: 500;
                    @include tablet {
                        font-size: 18px;
                    }
                }
                & .client {
                    margin-top: 58px;
                    display: flex;
                    margin-top: 60px;
                    align-items: center;
                    width: 100%;
                    @include tablet {
                        margin-top: 40px;
                    }
                    & .image {
                        width: 58px;
                        height: 58px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 17px;
                        flex-shrink: 0;
                        @include tablet {
                            width: 40px;
                            height: 40px;
                            margin-right: 12px;
                        }
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    & .name {
                        font-size: 21px;
                        font-weight: bold;
                        margin-right: 5px;
                        @include tablet {
                            font-size: 17px;
                            margin-right: 4px;
                        }
                    }
                    & .designation {
                        display: block;
                        font-size: 14px;
                        line-height: 20px;
                        color: $neutral-500;
                        @include tablet {
                            font-size: 12px;
                        }
                    }
                    & .qoute {
                        margin-left: auto;
                        @include tablet {
                            width: 33px;
                        }
                    }
                }
            }
        }
    }
}

.certification-section {
    position: relative;
    padding: 60px 0 76px;
    @include tablet {
        padding: 50px 0;
    }
    & .block {
        display: flex;
        flex-direction: column;
        gap: 66px;
        position: relative;
        z-index: 0;
        @include tablet {
            gap: 40px;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                gap: 16px;
            }
        }
        & .content {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(5, 204px);
            gap: 30px;
            @include laptop {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            @include tablet {
                gap: 10px;
            }
            & li {
                height: 102px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-radius: 100px;
                border: 1px solid #DBDBDB;
                @include laptop {
                    height: 52px;
                    width: 204px;
                    padding: 10px;
                }
                @include tablet {
                    width: 144px;
                }
                & img {
                    @include laptop {
                        height: 30px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.involved-section {
    padding: 76px 0;
    border-top: 1px solid #E9F3F7;
    border-bottom: 1px solid #E9F3F7;
    position: relative;
    overflow: hidden;
    z-index: 0;
    @include tablet {
        padding: 50px 0;
    }
    & .bg {
        position: absolute;
        height: 100%;
        right: 0;
        z-index: -10;
        top: 0;
        transform: scale(1.4);
        @include desktop {
            transform: scale(1);
        }
        @include tablet {
            display: none;
        }
    }
    & .lines-right {
        position: absolute;
        z-index: -10;
        right: 0;
        top: 45px;
        @include tablet {
            right: -90px;
            top: 5px;
            width: 170px;
        }
    }
    & .lines-left {
        position: absolute;
        z-index: -10;
        left: 0;
        bottom: 45px;
        @include tablet {
            left: -90px;
            bottom: 5px;
            width: 170px;
        }
    }
    & .block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
        @include tablet {
            display: flex;
            flex-direction: column;
        }
        & p {
            font-weight: 500;
            color: $neutral-500;
        }
        & .heading {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 462px;
            @include tablet {
                gap: 10px;
            }
        }
        & .item {
            background-color: $white;
            box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.08);
            border-radius: 10px;
            padding: 40px;
            display: flex;
            @include tablet {
                padding: 20px;
                flex-direction: column;
            }
            & .illustration {
                width: 118px;
                justify-content: center;
                display: flex;
                align-items: flex-start;
                margin-right: 28px;
                @include tablet {
                    width: 90px;
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
            & h5 {
                margin-bottom: 12px;
                font-weight: 700;
                font-size: 26px;
                @include tablet {
                    margin-bottom: 6px;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            & ul {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-top: 15px;
                & li {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    color: $neutral-500;
                    gap: 12px;
                }
            }
        }
    }
}

 


.project-section {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    & .item-circle {
        position: absolute;
        left: -66px;
        bottom: -5px;
        background-color: $primary;
        border-radius: 50%;
        width: 159px;
        height: 159px;
        @include tablet {
            width: 80px;
            height: 80px;
        }
    }
    & .block {
        display: flex;
        padding: 80px 0;
        flex-direction: column;
        gap: 66px;
        position: relative;
        z-index: 0;
        @include tablet {
            padding: 50px 0;
            gap: 40px;
        }
        & .rocket {
            position: absolute;
            right: 80px;
            bottom: -200px;
            width: 166px;
            z-index: -10;
            will-change: transform;
            @include laptop {
                width: 126px;
            }
            @include tablet {
                width: 80px;
                right: -40px;
            }
        }
        & .rocket-line {
            position: absolute;
            left: 50%;
            width: 1160px;
            margin-left: -82px;
            z-index: -20;
            bottom: -5px;
            @include tablet {
                width: 500px;
            }
        }
        & .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            max-width: 730px;
            margin: 0 auto;
            text-align: center;
            @include tablet {
                gap: 16px;
            }
        }
        & .button {
            display: flex;
            justify-content: center;
        }
    }
}